<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.PolicyNoUserDao">

	<select id="getListPolicyNoUser" parameterType="java.util.HashMap"
		resultType="com.mysiteforme.admin.entity.VO.PolicyNoUserVo">
		select
		pnu.id as id,
		pnu.policy_no as policyNo,
		pnu.user_id as userId,
		pnu.allocation_number as allocationNumber,
		pnu.use_number as useNumber,
		pnu.create_date as createDate,
		pnu.create_by as createBy,
		pnu.update_date as updateDate,
		pnu.update_by as updateBy,
		pnu.del_flag as delFlag,
		su.login_name as userName
		from policy_no_user pnu left join sys_user su on pnu.user_id=su.id
		where
		pnu.del_flag = false and su.del_flag=false
		<if test="policy_no!= null and policy_no!='' ">
			and pnu.policy_no = #{policy_no}
		</if>
		<if test="login_name!=null and login_name!='' ">
			and su.login_name like #{login_name}
		</if>
		<if test="limit!= null and limit!='' ">
			limit #{pageStart},#{limit}
		</if>
	</select>
	<select id="getTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(1)
		from policy_no_user pnu left join sys_user su on pnu.user_id=su.id
		where
		pnu.del_flag = false and su.del_flag=false
		<if test="policy_no!= null and policy_no!='' ">
			and pnu.policy_no = #{policy_no}
		</if>
		<if test="login_name!=null and login_name!='' ">
			and su.login_name like #{login_name}
		</if>
	</select>
	
	
	<select id="getListUserlist" parameterType="java.util.HashMap"
		resultType="com.mysiteforme.admin.entity.User">
			select
		su.id as id,
		su.tel as tel,
		su.email as email,
		su.nick_name as nickName,
		su.login_name as loginName,
		su.create_date as createDate
		from sys_user su LEFT JOIN ( SELECT * FROM policy_no_user where  policy_no = #{policyNo} ) pnu ON pnu.user_id = su.id 
		where pnu.id is null  and 
		 su.del_flag=false
		and is_super!=1 and locked!=1
		<if test="login_name!=null and login_name!='' ">
			and su.login_name like #{login_name}
		</if>
		<if test="tel!=null and tel!='' ">
			and su.tel = #{tel}
		</if>
		<if test="limit!= null and limit!='' ">
			limit #{pageStart},#{limit}
		</if>
	</select>
	<select id="getUserTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
			select
		count(1)
		from sys_user su left join policy_no_user pnu on pnu.user_id=su.id
		where pnu.id is null and 
		 su.del_flag=false
		and is_super!=1 and locked!=1
		<if test="login_name!=null and login_name!='' ">
			and su.login_name like #{login_name}
		</if>
		<if test="tel!=null and tel!='' ">
			and su.tel = #{tel}
		</if>
		<if test="limit!= null and limit!='' ">
			limit #{pageStart},#{limit}
		</if>
	</select>
	<select id="getPolicyNoUser" parameterType="java.util.HashMap" resultType="com.mysiteforme.admin.entity.PolicyNoUser">
	      select id,policy_no as policy_no,user_id as userId,allocation_number as allocationNumber,
	      use_number as useNumber,create_date as createDate,update_date as updateDate,
	      update_by as updateBy,del_flag as delFlag from policy_no_user
	      where policy_no=#{policyNo} and user_id=#{userId} limit 1
	</select>

</mapper>