<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.SalesSlipHistoryDao">
<select id="getListSalesSlip" parameterType="java.util.HashMap"
		resultType="com.mysiteforme.admin.entity.VO.SalesSlipVo">
		select
		ss.id as id,
		ss.policy_no as policyNo,
		ss.no as no,
		ss.customer_type as customerType,
		ss.customer_name as customerName,
		ss.certificate_type as certificateType,
		ss.certificate_no as certificateNo,
		ss.customer_mobile as customerMobile,
		ss.customer_address as customerAddress,
		ss.vehicle_brand as vehicleBrand,
		ss.licence_plate_no as licencePlateNo,
		ss.vehicle_frame_no as vehicleFrameNo,
		ss.engine_frame_no as engineFrameNo,
		ss.registration_date as registrationDate,
		ss.vehicle_price as vehiclePrice,
		ss.install_date as installDate,
		ss.install_address as installAddress,
		ss.installser as installser,
		ss.product_no as productNo,
		ss.insurance_term as insuranceTerm,
		ss.insurance_start_date as insuranceStartDate,
		ss.insurance_end_date as insuranceEndDate,
		ss.compensate_price as compensatePrice,
		ss.edit_count as editCount,
		ss.first_beneficiary as firstBeneficiary,
		ss.create_date as createDate,
		ss.create_by as createBy,
		ss.update_date as updateDate,
		ss.update_by as updateBy,
		ss.del_flag as delFlag,
		su.login_name as name,
		su.website as website
		from sales_slip_history ss left join sys_user su on ss.create_by=su.id
		where
		ss.del_flag = false and su.del_flag=false
		<if test="create_by!= null and create_by!='' ">
			and ss.create_by = #{create_by}
		</if>
		<if test="customer_name!= null and customer_name!='' ">
			and ss.customer_name like #{customer_name}
		</if>
		<if test="certificate_no!= null and certificate_no!='' ">
			and ss.certificate_no = #{certificate_no}
		</if>
		<if test="tel!= null and tel!='' ">
			and ss.customer_mobile = #{tel}
		</if>
		<if test="website!= null and website!='' ">
			and su.website like #{website}
		</if>
		<if test="insurance_start_date!= null and insurance_start_date!='' ">
			and ss.create_date &gt;= #{insurance_start_date}
		</if>
		<if test="insurance_end_date!= null and insurance_end_date!='' ">
			and ss.create_date &lt;= #{insurance_end_date}
		</if>
		<if test="limit!= null and limit!='' ">
			limit #{pageStart},#{limit}
		</if>
		order by ss.create_date desc
	</select>
	<select id="getTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(1)
		from sales_slip_history ss left join sys_user su on ss.create_by=su.id
		where
		ss.del_flag = false and su.del_flag=false
		<if test="create_by!= null and create_by!='' ">
			and ss.create_by = #{create_by}
		</if>
		<if test="customer_type!= null and customer_type!='' ">
			and ss.customer_type = #{customer_type}
		</if>
		<if test="no!= null and no!='' ">
			and ss.no = #{no}
		</if>
		<if test="customer_name!= null and customer_name!='' ">
			and ss.customer_name like #{customer_name}
		</if>
	</select>
</mapper>